# Dependencies
node_modules/
yarn.lock
.pnpm-debug.log

# Expo-specific files
.expo/
.expo-shared/


# eas
eas.json
.easignore

# Build artifacts
android/
android/build/
ios/
ios/Pods/
ios/*.xcworkspace
ios/DerivedData/
ios/build/

# Misc
google-services.json
.DS_Store
.env
*.key

# Uploaded pictures
/backend/pictures/


# MariaDB data directories
**/mysql/
*.ibd
*.frm
*.MYD
*.MYI
*.err
*.pid
*.sock

# Local builds
*.apk
*.aab
*.ipa
